body {
    text-align: center;
    font-family: Helvetica;
}

header {
    background-position-x: center;
    background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
    background-repeat: no-repeat;
}

h2 {
    font-size: 23px;
    font-weight: bold;
}

header h1 {
    font-family: Helvetica;
    font-size: 70px;
    font-weight: bold;
    color: white;
}

header nav a {
    display: block;
    font-size: 18px;
    color: white;
    margin: 15px;
    font-weight: bold;
}

#dny {
    background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
    background-repeat: no-repeat;
    background-position-x: center;
    color: white;
}

footer {
    text-align: left;
    background-color: dimgray;
    color: white;
}

footer span {
    font-size: 11px;
    margin-left: 5px;
}

footer nav {
    display: inline;
}

footer nav a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}